{% extends 'schoolbase.html' %}


{% block body %}

{% if messages %}
     
<script>
  alert("wrong cridential!!")
</script> 
{% endif %}

<form action="" method="post">
    {% csrf_token %}
<input type="number"  class="form-control" style="margin-top: 5px;" name="id" placeholder="Enter Student Adhar.." id="searchadhar" onkeyup="searchuser()" >
<input type="submit" class="form-control " style="margin-top: 3px; background-color: rgb(65, 65, 236);" value="search">
</form>
{% for a in studres %}
<div class="container shadow-lg mt-4 p-3" style="border-radius: 5px; " > 

    <p>{{a.studentclass}}</p>
{% endfor %}
</div>
{% endblock %}
